<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>인생에서 행복했던 순간 <span class="badge bg-secondary">신유원</span></h1>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              중학생 시절
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>중학교 1학년 때 친구 셋을 만난다.</strong> 모두 같은 동네였기 때문에 하루종일 매일 붙어다녔다. 함께하면 하루종일 웃음이 나왔던 순간 <code> 인생에서 가장 행복했던 순간 </code> 아직도 이 순간을 생각하면 저절로 웃음이 지어질 정도로 가장 행복했던 기억으로 남은 시절이다. 평생 함께할 친구들이라고 생각한다.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              고등학생 시절
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>고등학교 기숙사를 다님</strong>  <code> 기숙사에서 만난 룸메이트 친구가 지금 나의 가장 소중한 친구가 됨  </code>이 룸메이트 친구와 너무 많이 친해지다 보니 기숙사 벌점이 너무 많이 싸였다. 그래서 결국 퇴사를 당하는 지경에 이르렀다. 이 친구는 1점차이로 퇴사를 안당했지만 내가 나가게 되자 의리로 함께 나가기로 하고 자진퇴사를 했다.
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              대학생 시절
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>코로나가 터지다</strong> 재수를 하고 이제 캠퍼스 라이프를 즐길 줄 알았지만 모든 수업이 전면 비대면으로 전환되면서 꿈꾸던 대학 라이프는 사라졌다. 많이 상심했지만 그만큼 자유로운 시간분배가 가능했던 순간. 코로나가 점차 사그라지면서 친구들과 많은 여행을 다니게 됐다. 또한, 대학생활을 점차 시작하면서 다양한 동기친구들을 만나면서 활발한 성격으로 바뀌었다.
            </div>
          </div>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">잊지못할 여행</h5>
          <p class="card-text">2021년, 2022년도에 다녀왔던 총 2번의 여행</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="image/img.1.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">2021년 8월에 갔던 영종도 여행. 중학교 친구와 둘이서 간 첫 여행. 모든 것이 완벽했던 순간. 너무 행복했던 여행</p>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="image/img.1_1.jpg" class="d-block w-100" >
              </div>
              <div class="carousel-item">
                <img src="image/img.1_2.jpg" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
        </div>
        <img src="image/img.2.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">2022년 5월에 갔던 전주 여행. 중학교 친구들 4명과 다같이 간 여행. 전주 한옥마을에서 원래는 한복을 입으려 했지만 예쁜 한복을 다른 사람들이 다 채가서 결국 경성의복을 입었던 날. 그래도 너무 예쁘고 행복했던 순간. 날씨가 너무 좋았다.</p>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="image/img.2_1.jpg" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="image/img.2_2.jpg" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="image/img.2_3.jpg" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>

        <h1>앞으로 하고싶은 일 <span class="badge bg-secondary">신유원</span></h1>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                  자격증 따기
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                  <strong>1. sql자격증 따기</strong> 사회조사분석사, 빅데이터분석기사 등등...
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  친구들과 여행가기
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  <strong>제주도 여행, 부산 등, 해외여행 가보기
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                  다양한 사람들 만나보기
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                  <strong>동아리, 스터디, 공모전 등 다양한 사람들을 만나보고 많은 경험 쌓아보기
                </div>
              </div>
            </div>
          </div>
    </div>

</body>
</html>